<!DOCTYPE html>
<html>
  <head>
    <title>下载</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>下载</h1>
    <p>在 <a target="_blank" href='https://youtube.com'>YouTube</a> 上找到你喜欢的视频，然后打开把链接复制过来</p>

    <form method = "post">
标题: <br/>
<input type="text" name = "title"> 文件下载的名字</input><br />
<input type="text" name = "url">视频的 url<br />
<input type = "submit" value = "开始">



</form>
  </body>
</html>
